.container {
    height: 100dvh;
}

.signInFormWrapper {
    height: 100%;
    padding: var(--mantine-spacing-xl) 5rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
}

.signInForm {
    max-height: 100%;
    overflow: hidden auto;
    padding: var(--mantine-spacing-xl);
    background-color: var(--mantine-color-body);
}

.signInFormButton {
    /* Prevent button from squashing on low viewport height */
    flex-shrink: 0;
}
